:root{
    --cor-fundo: #1B2226;
    --cor-link: #70B5F9;
    --cor-letras-destaque: #FFFFFF;
    --cor-letras-pequenas: rgba(255, 255, 255, 0.6);
    --cor-caixa: #38434F;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.conteiner__cabecalho{
    background-color: var(--cor-fundo);
    padding: 9px;
    display: flex;
    gap: 90px;
    justify-content: space-around;
}

.conteiner__caixa{
    display: flex;
    align-items: center;
    gap: 8px;
}
.conteiner__logos{
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;}
.logo{
    text-decoration: none;
    color: var(--cor-letras-destaque);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa__texto{
    height: 34px;
    width: 280px;
    border: transparent;
    border-radius: 4px;
    color: var(--cor-letras-destaque);
    background-color: var(--cor-caixa);
}