:root{
    --cor-fundo: #1B2226;
    --cor-link: #70B5F9;
    --cor-letras-destaque: #FFFFFF;
    --cor-letras-pequenas: rgba(255, 255, 255, 0.6);
    --cor-caixa: #38434F;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.conteiner__cabecalho{
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-evenly;

}

.conteiner__pesquisa{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.logo__pesquisa{
    position: absolute;
    left: 50px;
}

.caixa__pesquisa::placeholder{
    position: absolute;
    left: 41px;
    color: var(--cor-letras-destaque);
}
.caixa__pesquisa{
    height: 34px;
    width: 280px;
    background-color: var(--cor-caixa);
    border: transparent;
    border-radius: 4px;
    color: var(--cor-letras-destaque);
}
.conteiner__logos{
    color: var(--cor-letras-destaque);
    text-align: center;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    text-decoration: none;
    color: var(--cor-letras-destaque);
}

.caixa__texto{
    height: 34px;
    width: 280px;
    border: transparent;
    border-radius: 4px;
    color: var(--cor-letras-destaque);
    background-color: var(--cor-caixa);
}