:root{
    --cor-fundo: #1B2226;
    --cor-link: #70B5F9;
    --cor-letras-destaque: #FFFFFF;
    --cor-letras-pequenas: rgba(255, 255, 255, 0.6);
    --cor-caixa: #38434F;
    --borda--caixas: #FFFFFF99;
}

/*SECAO DADOS PERFIL*/
.secao__perfil{
    background-color: var(--cor-caixa);
    width: 780px;
    height: 468px;
    border-radius: 16px;
    position: relative;
    grid-area: 2/2/3/3;
}

.plano__de__fundo{
    background-image: url(../img/section1/Imagem\ de\ capa.png);
    height: 200px;
}

.foto__perfil{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(../img/section1/ImageMe.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 24px;
    top: 100px;

}

.conteiner__dados{
    position: relative;
}

.dados{
    color: var(--cor-letras-destaque);
    line-height: 25px;
    position: absolute;
    top: 70px;
    left: 24px;
}
.name{
    font-size: 1.5rem;
}

.subname{
    font-size: 1rem;
}
.letras__pequenas{
    color: var(--cor-letras-pequenas);
    font-weight: 400px;
    font-size: 0.95rem;
}

.letras__link{
    color: var(--cor-link);
    padding-bottom: 10px;
}
.contato{
    padding-top: 5px;
}
.link__contato{
    text-decoration: none;
    color: var(--cor-fundo);
    background-color: var(--cor-link);
    border-radius: 16px;
    padding: 6px 48px 6px 47px;
}
.link__mais{
    text-decoration: none;
    color: var(--cor-link);
    background-color: var(--cor-caixa);
    border: 1px solid var(--cor-link);
    border-radius: 16px;
    padding: 6px 48px 6px 47px;
}

.instituicoes{
    position: relative;
    top: 60px;
    left: 180px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.instituicoes__link{
    text-decoration: none;
    color: var(--cor-letras-destaque);
}

/*SECAO DESTAQUES*/

.secao__destaques{
    width: 780px;

    background-color: var(--cor-caixa);
    border-radius: 18px;
    padding-bottom: 22px;
    grid-area: 3/2/4/3;
}

.titulo__destaques{
    color: var(--cor-letras-destaque);
    font-size: 1.25rem;
    padding-left: 24px;
}

.conteiner__de__destaques{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;

}
.caixas__destaques{
    border: 1px solid var(--borda--caixas);
    line-height: 1.25rem;
    border-radius: 8px;
}

.titulo__publicacao{
    color: var(--cor-letras-pequenas);
    font-size: 0.75rem;
    padding: 12px 0px 0px 14px;
}

.legenda__publicacao{
    font-size: 0.75rem;
    color: var(--cor-letras-destaque);
    padding: 0px 0px 4px 14px;
}
.img__destaques{
    width: 236px;

}

.caixa__comentarios{
    display: flex;
    flex-direction: row;
    line-height: 20px;
    color: var(--cor-letras-pequenas);
    font-size: 0.75rem;
}

.comentarios{
padding-left: 97px;
}

/*SECAO ATIVIDADES*/

.secao__atividades{
    background-color: var(--cor-caixa);
    width: 780px;
    height: 371px;
    border-radius: 8px;
    grid-area: 4/2/5/3;
}

.titulo__atividades{
    color: var(--cor-letras-destaque);
    font-size: 1.25rem;
    padding: 10px 0px 0px 24px;
}

.subtitulo__atividades{
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--cor-link);
    padding:10px 0px 0px 24px;
}

.caixa__atividades{
    color: var(--cor-letras-destaque);
    padding: 13px 24px 0px 22px;
}

.registro_da_atividade{
    font-size: 0.875rem;
    padding-bottom: 9px;
    color: var(--cor-letras-pequenas);
}

.imagem__atividades{
    width: 4rem;
    height: 4rem;
    float: left;
    padding-right: 0.5rem;
}

.texto__atividades{
    font-size: 0.875rem;
}
.interacao{
    border-bottom: 1px solid var(--borda--caixas);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0rem 0.5rem 0rem;
    color: var(--cor-letras-pequenas);
    font-size: 0.75rem;

}
.interacao2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625rem;
    color: var(--cor-letras-pequenas);
    font-size: 0.75rem;
}

.exibir__atividades{
    text-align: center;
    color: var(--cor-letras-pequenas);
    padding: 0rem 0.5rem;
}

/*SECAO SOBRE*/

.section__sobre{
    background-color: var(--cor-caixa);
    width: 48.75rem;
    border-radius: 16px;
    grid-area: 5/2/6/3;
}

.titulo__sobre{
    color: var(--cor-letras-destaque);
    font-size: 1.25rem;
    padding: 16px 0px 0px 24px;
}

.texto__sobre{
    color: var(--cor-letras-destaque);
    font-size: 0.875rem;
    padding: 8px 0px 16px 24px;
}

/*SECAO EXPERIENCIAS*/

.secao__experiencia{
    background-color: var(--cor-caixa);
    width: 780px;
    border-radius: 8px;
    padding-bottom: 24px;
    grid-area: 6/2/7/3;
}

.titulo_experiencia{
    color: var(--cor-letras-destaque);
    font-size: 1.25rem;
    padding: 16px 0px 8px 24px;
}

.logo__empresa{
    width: 48px;
    float: left;
    padding: 0px 8px 8px 24px;
}

.nome__empresa{
    color: var(--cor-letras-destaque);
    font-size: 1rem;
}

.tempo_de_empresa{
    color: var(--cor-letras-pequenas);
    font-size: 0.875rem;
}

.caixa_time_line{
    line-height: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 28px;
    width: 100%;
    padding: 0px 0px 0px 44px;
}

.img_time_line{
    height: 71px;
    grid-area: 1/1/6/2;
}

.nome_cargo{
    color: var(--cor-letras-destaque);
    font-size: 1rem;
}

.jornada_de_trabalho{
    color: var(--cor-letras-destaque);
    font-size:0.875rem;
    font-weight: 400;
}

.tempo_de_experiencia{
    color: var(--cor-letras-pequenas);
    font-size: 0.875rem;
    font-weight: 400;
}

.lugar_de_experiencia{
    color: var(--cor-letras-pequenas);
    font-size: 0.875rem;
    font-weight: 400;
}

/*SECAO FORMACAO*/

.secao__formacao{
    background-color: var(--cor-caixa);
    width: 48.75rem;
    border-radius: 8px;
    padding-bottom: 32px;
    grid-area: 7/2/8/3;
}

.titulo__formacao{
    color: var(--cor-letras-destaque);
    font-size: 1.25rem;
    padding: 9px 0px 8px 24px;
}

.imagem__formacao{
    float: left;
    width: 48px;
    padding: 0px 8px 0px 24px;
}

.instituicao__nome{
    color: var(--cor-letras-destaque);
    font-size: 1rem;
}

.curso__nome{
    color: var(--cor-letras-destaque);
    font-size: 0.875rem;
    font-weight: 400;
}

.tempo_de_formacao{
    color: var(--cor-letras-pequenas);
    font-size: 0.875rem;
}

/*SECAO IDIOMAS*/

.secao__idioma{
    background-color: var(--cor-caixa);
    width: 780px;
    border-radius: 8px;
    color: var(--cor-letras-destaque);
    grid-area: 8/2/9/3;
}

.titulo__idioma{
    font-size: 1.25rem;
    padding: 16px 0px 8px 24px;
}

.idioma__falado{
    font-size: 0.875rem;
    padding: 0px 0px 0px 24px;
}

.nivel__idioma{
    font-size: 0.875rem;
    color: var(--cor-letras-pequenas);
    padding: 0px 0px 0px 24px;
    font-weight: 400;
}
.line{
    width: 80%;
    padding-left: 23px;
}

/*SECAO CONEXOES*/

.secao__conexoes{
    width: 320px;
    background-color: var(--cor-caixa);
    color: var(--cor-letras-destaque);
    border-radius: 16px;
    grid-area: 2/3/2/3;
}

#grid-conexoes{
     grid-area: 3/3/4/4;
}

.titulo__conexoes{
    font-size: 1rem;
    padding: 16px 0px 16px 16px;
}

.perfil__conexoes{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 6px;
    padding: 0px 16px 16px 16px;
}

.img_de_perfil_conexoes{
    grid-area: 1/1/4/1;
}

.nome_de_perfil{
    font-size: 0.875rem;
    grid-area: 1/2/1/2;
}

.titulo_de_perfil{
    font-size: 0.75rem;
    color: var(--cor-letras-pequenas);
}

.botao_de_mensagem{
    width: 154px;
    text-decoration: none;
    text-align: center;
    color: var(--cor-letras-destaque);
    border: 1px solid var(--cor-letras-destaque);
    border-radius: 16px;
    margin-top: 6px;
    padding: 4px;
    grid: 2/2/3/2;
}