@charset "UTF-8";

/*--COR DE FUNDO:#7574BD
COR DA DIV DO FORM:#2B2B4A
COR BOTAO SUBMIT:#37AF65--*/

*{
    margin: 0px;
    padding: 0%;
}

body{
    height: 100%;
    background: black url(../imagens/saladeaula.jpg) center no-repeat fixed;
    background-size: cover;
}

body > main{
    height: 100%;
    background-color:#7574bda2; 
}

main > h1{
    text-align: center;
    color: white;
    font: normal 30px sans-serif;

    padding-top: 30px;
}
main > h2{
    text-align: center;
    color: white;
    font: italic 18px sans-serif;

    padding-top: 10px;
    padding-bottom: 30px;
}

main > div#caixa{
    width: 400px;
    height: 700px;
    margin: auto;
    background-color:#2b2b4a8f;
    border-radius: 5px;
}

div#caixa > form{
    padding: 25px;
}

div.dados > input,select{
    width: 100%;
}


