@charset "UTF-8";

/*Versão Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.671);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
main::after{
    color: grey;
    content: 'Essa é a versão de no máximo 768px';
}
h1{
    text-align: center;
    color: rgb(245, 229, 229);
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}
h2{
    text-align: center;
    color: rgb(245, 229, 229);
    font-size: 1em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}
img{
    display: block;
    margin: auto;
}
#pc{display: none;}
#phone{display: block;}
#tablet{display: none;}
#tv{display: none;}
#print{display:none;}