@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
}

*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
img{
    border-radius: 25%;
}
main{
    padding:4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.cabecalho{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    margin-top: 15px;
}
header.cabecalho > a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: 'Montserrat', sans-serif;
}
header.cabecalho > a:hover{
    text-decoration: underline;
}

div#apresentacao__conteudo{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

body > main >  div#apresentacao__conteudo > ul > li > a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
body > main >  div#apresentacao__conteudo > ul > li > a:hover{
    text-decoration: underline;
}
ul{
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
}
li{
    font:normal 20px 'Montserrat', sans-serif ;
    margin-left: 5%;
}
h1{
    font-size: 36px;
    font-weight: 400px;
    font-family:'Krona One', sans-serif;;
}
p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

footer.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
body > footer.rodape > p > a{
    color: var(--cor-primaria);
    text-decoration: none;
}
body > footer.rodape > p > a:hover{
    text-decoration: underline;
}
strong{
    color:var(--cor-terciaria);
}