@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


:root{
    --cor-primaria: #2C3333;
    --cor-secundaria: #CBE4DE;
    --cor-terciaria: #0E8388;
    --cor-hover: #2E4F4F;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
img#imageFelipe{
    border-radius: 25%;
    box-shadow: 5px 5px 10px black;
}
main{
    padding:4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.cabecalho{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    padding-top: 15px;
}
header.cabecalho > a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
header.cabecalho > a:hover{
    text-decoration: underline;
}

div#apresentacao__conteudo{ 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

body > main >  div#apresentacao__conteudo > ul > li > a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
body > main >  div#apresentacao__conteudo > ul > li > a:hover{
    text-decoration: underline;
}
ul{
    border: 1px solid var(--cor-terciaria);
    padding:15px;
}
li{
    font:normal 20px var(--fonte-secundaria);
    margin-left: 5%;
}
h1{
    font-size: 2.25rem;
    font-weight: 400px;
    font-family:var(--fonte-primaria);
}
p{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

footer.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
body > footer.rodape > p > a{
    color: var(--cor-primaria);
    text-decoration: none;
}
body > footer.rodape > p > a:hover{
    text-decoration: underline;
}
strong{
    color:var(--cor-terciaria);
}

@media (max-width:600px){
    header.cabecalho{
        gap: 20px;
       
    }

    main{
        flex-direction: column-reverse;
        gap: 40px;
    }

    header.cabecalho{
        justify-content: center;
        padding-bottom: 20px;
        
    }

    div#apresentacao__conteudo{
        width: auto;
        align-items: center;

    }
    img#imageFelipe{
        width: 70%;
        
        
    }
    li{
        font-size: 1rem;
    }
    p.frase__rodape{
        font-size: 1.12rem;
    }

}

@media (min-width:601px) and (max-width:992px){

    header.cabecalho{
        justify-content: center;
        padding-bottom: 20px;
    }

    main{
        flex-direction: column-reverse;
        gap: 40px
    }

    div#apresentacao__conteudo{
        align-items: center;

    }

    img#imageFelipe{
        width: 70%;

    }
}

@media (min-width:993px) and (max-width:1200px){

    header.cabecalho{
        padding-left:10%;

    }

    main{
        gap: 50px;
    }

    img#imageFelipe{
        align-self: flex-start;
    }
}

@media (min-width:1201px){

    header.cabecalho{
        padding-left: 10%;

    }

    main{
        gap: 50px;
    }

}