@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


:root{
    --cor-primaria: #2C3333;
    --cor-secundaria: #CBE4DE;
    --cor-terciaria: #0E8388;
    --cor-hover: #2E4F4F;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
img{
    border-radius: 25%;
}
main{
    padding:4% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.cabecalho{
    width: 445px;
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    margin-top: 15px;
}
header.cabecalho > a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
header.cabecalho > a:hover{
    text-decoration: underline;

}
div#apresentacao__conteudo{
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
h1{
    font-size: 36px;
    font-family:var(--fonte-primaria);
}
p{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}
a{
    text-decoration: none;
    color: var(--cor-primaria);
}
a:hover{
    text-decoration: underline;
}
#buttom{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
div#buttom > h2{
    font-family:var(--fonte-primaria);
    font-weight:400;
}
div#buttom > a{
    text-decoration: none;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);       
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 280px;
    padding: 15px 0px;
    font-size: 24px;
    border-radius: 8px;
    font-weight: 600;   
}
div#buttom > a:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}
footer.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
strong#destaque{
    color:var(--cor-terciaria) ;
}
