@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

:root{

    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-terciario: #167BF7;
    --cor-background: #000000;
    --efeito-botao: #3c92fa;
}
body{
    background-color: var(--cor-background);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
}

.principal{
    background-image: url(../pictures/sctionOne/Background.png);
    background-size: contain;
}

.container__combo{
    margin: 0em 6em;
    text-align: center;
}

.titulo__principal{
    font-size: 1.75rem;
}

.imagem__combomais{
    margin: 1.37em 0px 3.37em 0px;
}

.container__botao{
    color: var(--branco-principal);
    background-color: var(--azul-terciario);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    display: block;
}

.container__botao:hover{
    text-decoration: underline;
    background-color: var(--efeito-botao);
    color: var(--cor-background);
}

.botao__secundario{
    border: 1px solid var(--cinza-secundario);
    background-color: transparent;
    margin: 1rem 0rem 0.625rem 0rem;
}

.nota__rodape{
    text-align: center;
    color: var(--cinza-secundario);
    font-size: 0.75em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.imagem__plataformas{
    width: 65%;
}

.titulos{
    font-size: 3em;
    margin-bottom: 0.1em;
}

.descricao{
    font-size: 1em;
    color: var(--cinza-secundario);
    font-weight: 400;
    opacity: 80%;
    line-height: 1.5em;
}

.botao__terceiro{
    color: var(--branco-principal);
    display: inline-block;
    margin-top: 1em;
}

.caixa{
    margin: 0em 4.5em;
}

.container__dispositivos{
    text-align: center;
}

.container__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0em;
}

.subtitulo{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.container__lista__links{
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    font-weight: 400;
    font-size: 1em;
    margin: 2.544em 0em 1.5em 0em;
}

.lista__link{
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link:hover{
    text-decoration: underline;
}

.descricao__rodape{
    color: var(--cinza-secundario);
    font-size: 0.875em;
}

.segunda__descricao{
    margin: 3em 5em;
}

@media screen and (max-width:768px) {
    .container{
        display: block;
        background-image: none;
        text-align: center;
    }
    .container__combo{
        margin-top: 5em;
    }
    .titulo__principal{
        font-size: 1.25rem;
    }
    .imagem__combomais{
        width: 50vw;
    }

    .botao__terceiro{
        margin-bottom: 1.75em;
    }

    .container__lista{
        display: block;
    }

    .container__lista__links{
        display: block;
    }
}